* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

button,
input,
select {
  font: inherit;
  font-size: 16px;
}

button {
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.primary:hover {
  background-color: #1798ad;
  color: white;
}

.secondary:hover {
  color: #1798ad;
  border: #1798ad 2px solid;
  background-color: white;
}

.primary {
  color: #1798ad;
  border: #1798ad 2px solid;
  background-color: white;
  height: 40px;

}

.secondary {
  color: white;
  border: none;
  background-color: #1798ad;
  height: 40px;

}

